.conditions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .terms,
  .privacy-policy {
    margin-bottom: 20px;
  }
  
  .terms h2,
  .privacy-policy h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .terms p,
  .privacy-policy p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  