/* Login.css */

.login-container {
  background: #f1f1f1;
  background-image: url('../images/login-wall.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #71ea00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #5bc300;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
