.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
}

.Logo {
  border: none;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-right: 20px;
}

.Terms {
  background-color: #252525;
  border: none;
  color: white;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
